* {
    font-family: Verdana;
    background-color: yellow;
    box-sizing: border-box;
}

body {
    margin: 0;
}

div.main {
    display: grid;
    grid-template-columns: repeat(8, auto);
    height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

button#start {
    position: absolute;
    left: 50%;
    top: 600px;
    transform: translate(-50%, 0);
}

.controls>* {
    display: block;
    margin: auto;
    font-size: xx-large;
}

button {
    height: 80px;
    width: 80px;
}

button>img {
    height: 80%;
    width: 80%;
}

input {
    width: 80px;
    text-align: center;
}

button:hover img, button:hover {
    background-color: rgb(230, 230, 0);
}

p {
    font-size: 30px;
}

p#hour-c {
    margin: 0 40px 0 21.02px;
}

p#min-c {
    margin: 0 40px 0 10.81px
}